body {
  padding: 0 0;
  color: white;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

nav {
  background-image: url(Karl_XIIs_likfard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25vh 0;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.events-timeline {
  text-decoration: none;
  border-bottom: 3px solid white;
  list-style: none;
  width: 80%;
  color: white;
}

.event-timeline1 {
  left: 20%;
  align-content: flex-start;
}

.event-timeline2 {
  left: 65%;
  align-content: flex-start;
}

.event-timeline3 {
  left: 80%;
  align-content: flex-start;
}

h1 {
  text-align: center;
  font-size: 4vw;
}
h2 {
  text-align: center;
  font-size: 3vw;
}
li {
  color: white;
  position: absolute;
}

.fa-map-marker {
  position: absolute;
  left: 30%;
  top: -8%;
  font-size: 1.3em;
}

section {
  display: flex;
  justify-content: center;
}

.eventimg {
  width: 100%;
  margin: 5% auto;
  margin-bottom: 7%;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
}

.event1 {
  background-color: rgb(15, 13, 13);
}
.event2 {
  background-color: rgb(15, 18, 18);
}
.event3 {
  background-color: rgb(7, 13, 13);
}
