@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap%27");

body {
  padding: 0 0;
  color: white;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

nav {
  background-image: url(images/Karl_XIIs_likfard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25vh 0;
  display: flex;
  justify-content: center;
  margin-bottom: 7.5%;
}
.events-timeline {
  text-decoration: none;
  border-bottom: 3px solid white;
  list-style: none;
  width: 80%;
  color: white;
}

.event-timeline1 {
  left: 20%;
  align-content: flex-start;
  animation: shift-right-1 3s;
}

.event-timeline2 {
  left: 65%;
  align-content: flex-start;
  animation: shift-right-2 3s;
}

.event-timeline3 {
  left: 80%;
  align-content: flex-start;
  animation: shift-right-3 3s;
}

h1 {
  text-align: center;
  font-size: 4em;
}
h2 {
  text-align: center;
  font-size: 3em;
}
li {
  color: white;
  position: absolute;
}

.fa-map-marker {
  position: absolute;
  left: 30%;
  top: -8%;
  font-size: 1.3em;
}

.fa-home {
  position: absolute;
  left: 30%;
  top: -40%;
  font-size: 1.3em;
}

.text {
  width: 50%;
}

.intro-img {
  width: 40%;
}
section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.eventimg {
  width: 65vw;
  margin: 5% auto;
  margin-bottom: 7%;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.event1 {
  background-color: rgb(15, 13, 13);
}
.event2 {
  background-color: rgb(15, 18, 18);
}
.event3 {
  background-color: rgb(7, 13, 13);
}

#quote-voltaire {
  color: #bba14f;
  margin-bottom: 7.5%;
  font-family: Corinthia;
  font-size: 2em;
}

.content {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.single-text {
  width: 70%;
}
.content-text-only {
  margin-top: 1em;
}

#active-site {
  color: #08b5ff;
}

p {
  font-size: 1em;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer ul {
  list-style: none;
  gap: 0.5em;
  display: flex;
}

footer ul li {
  position: relative;
}

footer p {
  margin-left: 2em;
}

footer form {
  margin-left: 2em;
}

.info_images_link {
  text-align: center;
}

@keyframes shift-right-1 {
  from {
    left: 10%;
  }
  to {
    left: 20%;
  }
}

@keyframes shift-right-2 {
  from {
    left: 10%;
  }
  to {
    left: 65%;
  }
}
@keyframes shift-right-3 {
  from {
    left: 10%;
  }
  to {
    left: 80%;
  }
}
/* Mobil */
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .text {
    width: 90%;
  }
  .intro-img {
    width: 70%;
  }
  body {
    font-size: 18px;
  }
}
/* Ipad */
@media screen and (min-width: 600px) {
  .content {
    flex-direction: column;
  }
  .text {
    width: 90%;
  }
  .intro-img {
    width: 70%;
  }
  body {
    font-size: 20px;
  }
}
/* Dator */
@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
  }
}
